# Default identity (fallback)
[user]
    name = matzxrr
    email = matzxrr@gmail.com
    signingkey = {{ .gpg_key }}
[commit]
    gpgsign = true
[init]
    defaultBranch = main

{{ if .is_work -}}
# Work identity override
[includeIf "gitdir:~/work/"]
    path = ~/.config/gitconfig/work
{{ end -}}

# Editor / Pager
[core]
    editor = vim
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    syntax-theme = Catppuccin-mocha
    line-numbers = true
[merge]
    conflictstyle = zdiff3

[color]
    ui = true
